.blog {

  h3 {
    color: #D58E32;
    border-bottom: 3px #E2E2E2 solid;
    font-size: 22px;
    clear: both;
    display: block;
  }

  h2 {
    color: #D58E32;
    span {
      cursor: pointer;
    }
     }
.bg1 {
   background-image: url("../img/blog/1.jpg");
 }

  .bg2 {
    background-image: url("../img/blog/2.jpg");
  }

  .bg3 {
    background-image: url("../img/blog/3.jpg");
  }

  .blogcard {
    height: 560px;
    box-sizing: border-box;
    padding: 30px;
    padding-top: 230px;
    background-repeat: no-repeat;


    .content {
      background-color: white;
      width: 100%;
      height: 100%;
      .header {
        padding:20px;
        color: #676767;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 40px;
        .date {
          float: left;
        }
        .comments {
          float: right;
        }
      }
      .title {
        font-weight: 500;
        font-size: 17px;
      }
      .text {
        color: #676767;
        font-size: 15px;
      }
      a {
        background-color: #2A2A2A;
        color: white;;
        font-size: 16px;
        text-decoration: none;
        padding: 12px;
        text-align: center;
        width: 140px;
        display: block;
        margin: auto;
        margin-top: 30px;
        &:hover {
      background-color: #D58E32;
        }
           }
    }
  }


}