.filter {
  padding-left: 30px;

  .filter_active {
    color: #D58E32 !important;
  }

h3 {
border-bottom: 1px black solid;
color: $dark-gray-color;
font-size: 16px;
font-weight: bold;
margin-top: 20px;
margin-bottom: 20px;
padding-bottom: 10px;
}
  .categories {
  font-size: 14px;
    font-weight: 500;
    a {
     color: $dark-gray-color;
     margin-bottom:15px;
     display: block;
     text-decoration: none;
     position: relative;
     &:hover {
       color: #D58E32;
     }
     span {
       font-size: 24px;
       position: absolute;
       top: -10px;
       right:0;
        }
     &:before {
       content: "\00203A";
     }
   }
  }

  .filterbyprice {


    input {
      width: 120px;
      float: right;
    }
    a {
      background-color: #D58E32;
      float: left;
      text-decoration: none;
      color: white;
    }
  }

  .filterbycolour {
    .checkbox-primary input[type="checkbox"]:checked + label::before {
      background-color: #428bca;
      border-color: #428bca; }

    .checkbox-danger input[type="checkbox"]:checked + label::before {
      background-color: #d9534f;
      border-color: #d9534f; }

    .checkbox-info input[type="checkbox"]:checked + label::before {
      background-color: #5bc0de;
      border-color: #5bc0de; }

    .checkbox-warning input[type="checkbox"]:checked + label::before {
      background-color: #f0ad4e;
      border-color: #f0ad4e; }

    .checkbox-success input[type="checkbox"]:checked + label::before {
      background-color: #5cb85c;
      border-color: #5cb85c; }
  }

  .filterbysize {
    div {
      position: relative;
    }

    span {
      position: absolute;
      top: -5px;
      right:0;
      font-size: 24px;
      color: $dark-gray-color;
    }
  }
  .filterbytags {
    div {
      color: #959595;
      font-size: 14px;
      border: 1px #D7D7D7 solid;
      float:left;
      margin: 10px;
      margin-left: 0;
      padding: 6px;
      padding-right: 12px;
      padding-left: 12px;
      &:before {
        font-family: 'Font Awesome\ 5 Free';
        font-weight: 900;
        content: "\f02c\0020"
      }
      &:hover {
        color: #D58E32;
      }
    }
  }

}

