.footer {
  & .subscribe {
    background-color: $light-gray-color;
    padding: 37px 0;

    & .section-title {
      @include font('Poppins', 22px, uppercase, 600, $main-color, left);
      margin-right: 57px;
    }

    & .section-wrapper {

      & .input-form-wrapper {
        padding: 11px 15px;
        background-color: white;
        display: flex;
        align-items: center;
        width: 486px;

        & span {
          margin-right: 15px;
        }

        & .icon-email {
          color: $main-color;
        }

        & .input-separator {
          color: #b9b9b9;
        }

        & input {
          width: 100%;
          display: block;

          &::placeholder {
            content: 'Enter your email address';
            @include font('Poppins', 14px, none, 400, #b9b9b9, left);
          }
        }

      }

      & button {
        box-sizing: border-box;
        display: block;
        background-color: #fff;
        padding: 11px 16px;
        margin-left: 17px;
        color: $main-color;

        &:hover {
          background-color: $main-color;
          color: #fff;
        }
      }
    }

  }

  .footer-nav {
    background-color: $dark-gray-color;
    padding: 61px 0 44px;


    & .footer-col-title {
      @include font('Poppins', 22px, uppercase, 600, #fff, left);
      margin-bottom: 32px;
    }

    & .footer-col-text {
      padding: 0;
      margin-bottom: 45px;

      & a {
        text-decoration: none;
      }

      &-item {
        @include font('Poppins', 14px, none, 400, #a9a9a9, left);
        box-sizing: border-box;
        list-style: none;
        border-bottom: 1px solid transparent;
        line-height: 1;
        margin-bottom: 14px;
        display: block;

        &:hover {
          border-bottom: 1px solid #a9a9a9;
          width: fit-content;
        }
      }
    }

    & .footer-payments-wrapper {
      .footer-payments-item {
        flex-basis: 40px;
        height: 28px;

        margin: 0 10px 14px 0;

        &.pay-icon-visa {
          background: url("../img/cards/visa.png");
        }

        &.pay-icon-american {
          background: url("../img/cards/blue-card.png");
        }

        &.pay-icon-master {
          background: url("../img/cards/master-card.png");
        }

        &.pay-icon-paypal {
          background: url("../img/cards/paypal.png");
        }

        &.pay-icon-discover {
          background: url("../img/cards/dacover.png");
        }
      }
    }
  }
}

.bottom-bar {
  background-color: $extra-dark-gray-color;

  & .bottom-bar-wrapper {
    padding: 40px 0;
    @include font('Poppins', 14px, capitalize, 400, #a9a9a9, center);

    & .social-buttons {
      max-width: 205px;

      & a {
        color: #a9a9a9;

        &:hover {
          color: $main-color;

        }
      }
    }
  }
}