

.stocks {
  .custom-mb-md-30px {
    margin-bottom: 30px;
  }
  p {
    margin: 0;
  }
  a {
    text-decoration: none;
  }

  .big-banner {
    display: block;
    background: url("../img/stocks/1.jpg") no-repeat left;
    background-size: cover;
    width: 100%;
    height: 420px;
    padding: 33px;

    .big-banner-inner-content {
      background-color: rgba(0,0,0,0.4);
      width: 100%;
      height: 100%;
      padding: 20px;
      line-height: 1;

      .banner-title {
        @include font('Poppins', 36px, none, 700, #fff, left);
      }

      .banner-subtitle {
        @include font('Poppins', 60px, none, 700, #fff, left);
      }
      .banner-price {
        @include font('Poppins', 60px, none, 700, #fff, left);
        display: inline-block;
        padding: 22px;
        border: 5px solid #ffffff;
        text-align: center;
      }
    }
  }

  .stocks-banner {
    overflow: hidden;
    height: 133px;
    line-height: 1;



    &.wide-banner-01 {
      background-color: $stock-banner-1-bg;
      margin-bottom: 30px;

      .stocks-title {
        @include font('Poppins', 24px, none, 600, #000, left);
        margin-bottom: 10px;
      }

      .stocks-subtitle {
        @include font('Poppins', 14px, none, 600, #000, left);
        letter-spacing: 3px;
      }

      .stocks-price {
        @include font('Poppins', 30px, none, 600, $main-color, left);
      }
    }

    &.wide-banner-02 {
      background-color: $stock-banner-2-bg;
      text-align: center;

      .stocks-title {
        @include font('Poppins', 18px, none, 600, $main-color, left);
      }

      .stocks-subtitle {
        @include font('Poppins', 14px, none, 300, #000, left);
      }

    }

    img {
      vertical-align: bottom;
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
      transform: scale(1.3);

      &.picture-flipped {
        transform: scale(1.2) scaleX(-1);
      }
    }
  }
}
