@media screen and (min-width: $tablet-size){
  .stocks {
    .stocks-banner {
      height: 195px;
      &.wide-banner-01 {
        .stocks-title {
          @include font('Poppins', 30px, none, 600, #000, left);
        }
        .stocks-subtitle {
          @include font('Poppins', 18px, none, 600, #000, left);
          letter-spacing: 3px;
        }
        .md-font-weight-light {
          font-weight: 300;
        }
        .stocks-price {
          @include font('Poppins', 36px, none, 600, $main-color, left);
        }
      }
      &.wide-banner-02 {
        background-color: $stock-banner-2-bg;
        text-align: center;
        .stocks-title {
          @include font('Poppins', 24px, none, 600, $main-color, left);
        }
        .stocks-subtitle {
          @include font('Poppins', 18px, none, 300, #000, left);
        }
      }
    }
  }
}

