@mixin font($ff, $fz, $tt, $wb, $color, $ta) {
  font-family: $ff;
  font-size: $fz;
  text-transform: $tt;
  font-weight: $wb;
  color: $color;
  text-align: $ta;
}

@mixin flex($display: flex, $justify-content: center, $align-items: center) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

