$main-color: #d58e32;
$light-gray-color: #f2f2f2;
$gray-color: #676767;
$dark-gray-color: #363636;
$extra-dark-gray-color: #2a2a2a;
$gallery-background: #f4f5f7;
$modal-text-color: #7b7b7b;
$grey-btn-background: #939393;
$border-color: #dee2e6;
$banner-background: #e8edf7;


$mobile-size: 480px;
$tablet-size: 768px;
$desktop-size: 1200px;

$navbar-bg: #434343;
$header-bg: #363636;
$text-color: #ffffff;

$stock-banner-1-bg: #e8edf7;
$stock-banner-2-bg: #fbf3f7;

$top-dropdown-text: #b8b8b8;
